/******* PLANTILLA CSS ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  min-height: 100vh;
  width: 100%;
}
main {
  margin: 1rem 0;
  width: 100%;
}
h1,
h2,
h3,
h4,
a,
p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4em;
  color: #fff;
  text-decoration: none;
}

h2 {
  font-size: 3em;
  text-decoration: none;
}

h3 {
  font-size: 2em;
  text-decoration: none;
}

p {
  font-size: 1.4em;
}

li {
  list-style-type: none;
}
a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  font-weight: 600;
  text-decoration: none;
  transition: 300ms;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  outline-offset: 0;
}
img {
  object-fit: cover;
  max-width: 100%;
}
video {
  max-width: 100%;
}

/************************HEADER Style************************/
header {
  background-color: #a6a5a5;
  display: flex;
  font-size: 16px;
  justify-content: center;
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  top: 0; /* Posicionamos la cabecera pegada arriba */
  text-transform: uppercase;
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  align-items: center;
  opacity:0.7;
}

.header-icon {
  padding-right: 100px;
  
}
.header-icon img{
  height:100%;
  width:12em;
}

nav .nav-list {
  
}

nav .nav-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

nav .nav-list ul li {
  color: #090707;
}
nav .nav-list ul li a {
  color: #000000;
  font-weight: bold;
}
nav .nav-list ul li a:hover{
  color:#fff;
  
}
.nav-button {
  padding: 30px;
  
}
.nav-button button {
  background-color: rgba(0, 247, 41, 0.7);
  border-radius: 30px;
  border: none;
  color: #121212;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.6em 0.6em;
}
.nav-button button:hover {
  background-color: #121212;
  color: #fff;
}
/********************STYLE SLIDER*********************/
.slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap:1em;
}
.slider .slider-img {
  position: absolute;
  z-index: -1;
}
.slider .slider-img img {
  width: 100%;
}
.slider-title {
}
.slider-text {
}
.slider-button button {
  background-color: rgba(0, 247, 41, 0.7);;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  padding: 1em 1em;
}
.slider-button button:hover {
  background-color: #949191;
}

/********************* STYLE FEATURED ***********************/

.featured {
  height: 100vh;
  width: 100%;
  background-color: rgb(71, 70, 70);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-title {
}
.featured-subtitle {
  margin-bottom: 6em;
}
.featured .featured-content {
  display: flex;
  width: 80%;
  text-align: center;
}
.featured .featured-content .featured-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap:1em;
}
.featured .featured-content .featured-item::before {
  content: ">";
}
.featured .featured-content .featured-item .featured-item-image {
  height: 100px;
  width: 100px;
}
.featured .featured-content .featured-item .featured-item-title {
  font-weight: bold;
}
.featured .featured-content .featured-item .featured-item-text {
}
/*************************DETAILS STYLE********************************/

.details {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100vh;
  align-items: center;
  gap: 2em;
  margin: 0 auto;
}
.details .details-column {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.details .details-column .details-column-item {
  display: flex;
  gap: 10px;
}
.details .details-column .details-column-item .details-item-svg {
  height: 48px;
  width: 48px;
}
.details
  .details-column
  .details-column-item
  .details-item-description
  .details-item-description-title {
  font-size: 1.4em;
}
.details
  .details-column
  .details-column-item
  .details-item-description
  .details-item-description-title {
  font-weight: bold;
}
.details
  .details-column
  .details-column-item
  .details-item-description
  .details-item-description-text {
}
.details-column .details-image {
  width: 400px;
  height: 400px;
}
.details-column .details-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/****************************TEAM STYLE*************************************/
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}
.team .team-text {
  margin-bottom: 3em;
}
.team-content {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.team-content .team-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.team-content .team-item .team-item-image {
  height: 14em;
  width: 12em;
}
.team-content .team-item .team-social-networks {
  height: 1em;
  width: 1em;
  position: absolute;
  background-color: #fff;
  align-self: end;
}

/*************CONTACT STYLE*******************/

.contact {
  height: 80vh;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-map {
}
.contact .contact-map iframe {
  position: absolute;
  z-index: -1;
  width: 90vw;
  height: 40vh;
}
.contact .contact-card-container {
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
  margin: 20px auto;
}
.contact .contact-card .contact-card-front {
  width: 10em;
  height: 10em;
}

/****FLIP CARD*****/
.contact .contact-card {
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card .contact-card-front {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .contact-card-front {
  background: red;
}
#card .contact-card-back {
  background: blue;
  transform: rotateY(180deg);
}

#card.flipped {
  transform: rotateY(180deg);
}
/*****************FOOTER STYLE******************/

.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  height: 10vh;
}
.footer-content .social-networks {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.footer-content .social-networks img {
  height: 2em;
  width: 2em;
}
.footer-content .footer-menu {
  text-align: center;
  display: flex;
  gap: 2em;
  justify-content: center;
}
