/******* PLANTILLA CSS ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
main {
  width: 100%;
}
h1,
h2,
h3,
h4,
a,
p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4em;
  color: #fff;
  text-decoration: none;
}

h2 {
  font-size: 3em;
  text-decoration: none;
}

h3 {
  font-size: 2em;
  text-decoration: none;
}

p {
  font-size: 1.4em;
}

li {
  list-style-type: none;
}
a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  font-weight: 600;
  text-decoration: none;
  transition: 300ms;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  outline-offset: 0;
}
img {
  object-fit: cover;
  max-width: 100%;
}
video {
  max-width: 100%;
}

/************************HEADER Style************************/
header {
  display: flex;
  font-size: 16px;
  justify-content: center;
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  top: 0; /* Posicionamos la cabecera pegada arriba */
  text-transform: uppercase;
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); /* 50% de opacidad */
  height: 10vh;
}

.header-icon {
  padding-right: 100px; 
}
.header-icon img{
  height:100%;
  width:12em;
}

nav .nav-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

nav .nav-list ul li {
  color: #090707;
}
nav .nav-list ul li a {
  color: #000000;
  font-weight: bold;
}
nav .nav-list ul li a:hover{
  color:#fff;
  
}
.nav-button {
  padding: 30px;
  
}
.nav-button button {
  background-color: rgba(0, 247, 41, 0.7);
  border-radius: 30px;
  border: none;
  color: #121212;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.6em 0.6em;
  cursor: pointer;
}
.nav-button button:hover {
  background-color: #121212;
  color: #fff;
  transition:.6s ease-out;
}
/********************STYLE SLIDER*********************/
.slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap:1em;
}
.slider .slider-img {
  position: absolute;
  z-index: -1;
}
.slider .slider-img img {
  width: 100%;
}
.slider-title {
}
.slider-text {
}
.slider-button{
  
}
.slider-button button {
  background-color: rgba(0, 247, 41, 0.7);
  border-radius: 30px;
  border: none;
  font-weight: bold;
  padding: 1em 1em;
  height:95%;
  cursor: pointer;
  
}
.slider-button button:hover {
  background-color: #949191;
  color:#fff;
  /*font-size:1.2em;*/
  transition:.5s ease-out;
  
}

/********************* STYLE FEATURED ***********************/

.featured {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-title {
}
.featured-subtitle {
  margin-bottom: 6em;
}
.featured .featured-content {
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: space-evenly;
  gap:4em;
  
  
}
.featured .featured-content .featured-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  width:33%;
  height:18em;
  gap:1em;

}
.featured .featured-content .featured-item::before {
  content: ">";
  font-size: 4em;
}
.featured .featured-content .featured-item .featured-item-image {
  height: 100px;
  width: 100px;
}
.featured .featured-content .featured-item .featured-item-title {
  font-weight: bold;
}
.featured .featured-content .featured-item .featured-item-text {
  
}
/*************************DETAILS STYLE********************************/

.details {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100vh;
  align-items: center;
  gap: 2em;
  margin: 0 auto;
}
.details .details-column {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.details .details-column .details-column-item {
  display: flex;
  gap: 10px;
}
.details .details-column .details-column-item .details-item-svg {
  height: 48px;
  width: 48px;
}
.details
  .details-column
  .details-column-item
  .details-item-description
  .details-item-description-title {
  font-size: 1.4em;
}
.details
  .details-column
  .details-column-item
  .details-item-description
  .details-item-description-title {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom:0.2em;
}
.details-column .details-image {
  width: 400px;
  height: 400px;
}
.details-column .details-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  
}

/****************************TEAM STYLE*************************************/
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(26, 26, 26);
  
}
.team .team-title{
  font-size: 1.8em;
}
.team .team-text {
  margin-bottom: 3em;
}
.team-content {
  display: flex;
  justify-content: center;
  gap: 2em;
 
}
.team-content .team-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap:0.5em;
}
.team-content .team-item .team-item-image {
  height: 14em;
  width: 12em;
  position: relative;
}
.team-content .team-item .team-item-image img{
  width:100%;
  height:100%;
}
.team-content .team-item .team-social-networks {
  height: 2em;
  width: 2em;
  top:0.8em;
  right:0.2em;
  position: absolute;
  background-color: #fff;
  z-index:1;
  display:flex;
  flex-direction: column;
  gap:.2em;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  padding:3px 3px;
  cursor:pointer;
}
.stick {
  width: 22px;
  height: 4px;
  border-radius: 4px;  
  background-color:  #000000;
  position: relative;
}
.team-content .team-item .team-item-title{
  font-size: 1.8em;
}
.team-content .team-item .team-item-text-subtitle{
  font-size: 0.8em;
}
.team-content .team-item .team-social-networks button{
  width:100%;
  height:100%;
}



/*************CONTACT STYLE*******************/

.contact {
  height: 90vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-map {
}
.contact .contact-map iframe {
  position: absolute;
  z-index: -1;
  width: 90vw;
  height: 40vh;
}
.contact .contact-card-container {
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
  margin: 20px auto;
}
.contact .contact-card .contact-card-front {
  width: 10em;
  height: 10em;
}

/****FLIP CARD*****/
.cont-contactInfo {
  float: left;
  padding-right: 5%;
  width: 45%;
}
.cont-contactInfo h3 {
  font-size: 28px;
}
.cont-contactInfo h4 {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}
.cont-contactInfo h4.section {
  margin: 30px 0 0;
}
.cont-contactInfo p {
  margin: 0;
}
.cont-contactInfo p > a {
  text-transform: uppercase;
  font-weight: bold;
}

.cont-contactBtn {
  height: 359px;
  margin: 0 auto;
  width: 574px;
  position: relative;
  perspective: 800px;
}
.cont-contactBtn .cont-flip {
  position: absolute;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
}
.cont-contactBtn .cont-flip .front, .cont-contactBtn .cont-flip .back {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.cont-contactBtn .cont-flip .front {
  background-color: #00E869;
}
.cont-contactBtn .cont-flip .back {
  background-color: #fff;
  transform: rotateX(180deg);
}
.cont-contactBtn .btn {
  margin-top: 155px;
}
.cont-contactBtn .cont-flip.flipped {
  transform: rotateX(180deg);
}
.cont-contactBtn .contact-form {
  padding: 0 10%;
  margin-top: 50px;
  width: 80%;
}
.cont-contactBtn .contact-form input, .cont-contactBtn .contact-form textarea {
  border: 1px solid #808080;
  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
}
.cont-contactBtn .contact-form input[type="text"] {
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 44.9%;
}
.cont-contactBtn .contact-form .gutter {
  margin-right: 2.8%;
}
.cont-contactBtn .contact-form textarea {
  height: 106px;
  padding-left: 3%;
  margin-bottom: 22px;
  width: 96.2%;
}
.cont-contactBtn .contact-form input[type="submit"] {
  background-color: #00E869;
  border: none;
  color: #fff;
  height: 45px;
  width: 100%;
  max-width: 93px;
  text-align: center;
}
.cont-contactBtn .close {
  display: block;
  height: 19px;
  width: 19px;
  background-image: url("https://webdevtrick.com/wp-content/uploads/close.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 3%;
}

.btn {
  border: 3px #fff solid;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: normal;
  margin: 0 auto;
  max-width: 280px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
}
/*****************FOOTER STYLE******************/
footer{
  width:100%;
  height: 10vh;
  background-color: rgb(143, 217, 251);

}
.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.footer-content .social-networks {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.footer-content .social-networks img {
  height: 2em;
  width: 2em;
  margin-bottom: 1em;
}
.footer-content .footer-menu ul {
  text-align: center;
  display: flex;
  gap: 0.4em;
  justify-content: center;
  
}
