footer{
    width:100%;
    height: 10vh;
    background-color: rgb(143, 217, 251);
  
  }
  .footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  .footer-content .social-networks {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .footer-content .social-networks img {
    height: 2em;
    width: 2em;
    margin-bottom: 1em;
  }
  .footer-content .footer-menu ul {
    text-align: center;
    display: flex;
    gap: 0.4em;
    justify-content: center;
    
  }