header {
    display: flex;
    font-size: 1rem;
    justify-content: space-around;
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    text-transform: uppercase;
    width: 60%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* 50% de opacidad */
    height: 10vh;
    z-index: 1001;
    padding:.4rem 20%;
  }
  
  .header-icon svg.featured-header-icon{
    animation: change-color-logo 1s forwards;
  }
  
  nav .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }
  
  nav .nav-list ul li {
    color: #090707;
  }
  nav .nav-list ul li a {
    font-family: Anime;
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;

  }
  nav .nav-list ul li a:hover{
    color:#b11818;
  }
  
  nav .nav-list ul li a.featured-header-links:hover{
    color:#f3e221; 
  }
  nav .nav-list ul li.active.featured-color{
    color: var(--color-featured);
  }
  nav .nav-list ul li.active.details-color{
    color: var(--color-details);
  }
  nav .nav-list ul li.active.team-color{
    color: var(--color-team);
  }
  nav .nav-list ul li.active.faqs-color{
    color: var(--color-faqs);
  }
  nav .nav-list ul li.active.contact-color{
    color: var(--color-contact);
  }
  .nav-button {
    padding: 2rem;
    
  }
  .nav-button button {
    background-color: #b11818;
    border-radius: 30px;
    border: none;
    color: #121212;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    text-align: center;
    transition:.6s ease-out;
    
  }
  .nav-button button.featured-color{
    background-color: #f3e221;
  }
  .nav-button button.details-color{
    background-color: #28f321;
  }
  .nav-button button.team-color{
    background-color: #2f21f3;
  }
  .nav-button button.faqs-color{
    background-color: #f321c6;
  }
  

  .nav-button button:hover {
    background-color: #121212;
    color: #fff;
  }
  
  .nav-button button.featured-header-button{
    animation: change-color-header 1s forwards;
  }

  @keyframes change-color-header {
    from {
      background-color: #b11818;
    }
    to {
      background-color: #f3e221;
    }
  }
 
  .nav-button button.featured-header-button:hover{
    background-color: #121212;
    color:#fff;
  }
 