.featured {
  align-items: center;
  height: 100vh;
  display: flex;
  background-color: rgb(22, 19, 19);
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
  padding: 0 10%;
  z-index: 1001;
  position: relative;
  z-index: 0;
 
}
.featured .featured-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap:1.5rem;
}
.featured .featured-background-image {
  position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.featured .featured-background-image img{
    width: 100%;
    height: 100%;
}

.featured .featured-title h2 {
  font-size: 4.3rem;
  font-family: Anime;
  margin: 0;
  letter-spacing: 11px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.featured-title h2.fade-in-text {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  color: var(--color-featured);
}

.featured-subtitle p{
  font-size: 2rem;
  font-weight: 500;
  font-family: Anime;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: var(--color-featured);
}
.featured-subtitle p.fade-in-text {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}


.featured-subtitle {
  margin-bottom: 3rem;
}
.featured .featured-content {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  gap: 4rem;
  color: #000;
}
.featured .featured-content .featured-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 33%;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.58);
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 62px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  gap: 2rem;
  transition: 0.3s ease-in-out;
}
.featured .featured-content .featured-item:hover {
  transform: scale(1.1);
}

.featured .featured-content .featured-item:nth-child(n + 2)::before {
  content: ">";
  font-size: 4em;
  position: absolute;
  padding: 2rem;
  padding-right: 29%;
  padding-top: 6rem;
}
.featured .featured-content .featured-item .featured-item-image {
  width: 50%;
  height: 50%;
}
.featured .featured-content .featured-item .featured-item-image svg {
  width: 12rem;
  height: 12rem;
}
.featured .featured-content .featured-item .featured-item-title {
  font-weight: 600;
  font-size: 1.1rem;
  

}
.featured .featured-content .featured-item .featured-item-title h3{
  font-family: 'Poppins', sans-serif;
}
.featured .featured-content .featured-item .featured-item-text p{
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}
