.modal-container {
    box-shadow:0 0 62px rgba(0,0,0,.3);
    display:flex;
    color:#000;
    top:15%;
    left:10%;
    width:80%;
    height:80vh;
    border:none;
    align-items:center;
    border-radius:5px;
    background-color:#fff;
    z-index: -1;
    opacity: 0;
    transition: .5s linear;
    position:fixed;
    overflow: hidden;
    
  }
  .modal-content-front{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
  }
  .modal-content.active{
    transform: translateX(0%);
  }
  .modal-content-hidden{
    width:100%;
    height: 100%;
  
  }
  .modal-form{
    height:100%;
    width:100%;
  }
  .modal-content-hidden form{

  }
  .modal-content-hidden form{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
  }
  form .modal-form-input{
    width:100%;
    height:3rem;
  }
  form .modal-form-input input{
    height:100%;
  }
  form .modal-form-name-surname{
    width:100%;
    display:flex;
    gap:.5rem;
    height:3rem;
  }
  form .modal-form-name-surname input{
    width: 50%;
  }
  form .modal-form-location{
    width:100%;
    display:flex;
    gap:.5rem;
    height:3rem;
  }
  form .modal-form-location input{
    width: 50%;
  }
  form .modal-form-input input,
  form .modal-form-input select{
    width:100%;
  }

  .modal-content-hidden form input,
  .modal-content-hidden form button,
  .modal-form-input{
    font-family: 'Poppins',sans-serif;
  }
  .modal-content-hidden form .modal-form-button{
    width:100%;
    height:4.5rem;
    
  }
  .modal-content-hidden form .modal-form-button button{
    border:none;
    width: 100%;
    height: 100%;
    background-color: #0084ff;
    color:#fff;
    font-weight: 600;
  }
  .modal-container.active {
    z-index: 2000;
    opacity: 1;
  }
  .modal-slider{
    width:50%;
    height:100%;   
    z-index: 9999;
  }
  .modal-slider .modal-slider-image{
    height:100%;
    width: 100%;
  }
  .modal-slider .modal-slider-image .swiper-wrapper{
    height:100%;
    width:100%;
  }
  .modal-slider .modal-slider-image .swiper-wrapper .swiper-slide{
    height: 100%;
    width: 100%;
  }
  .modal-slider .modal-slider-image .swiper-wrapper .swiper-slide img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .modal-slider:hover{
   
  }
  .modal-slider img{
    width:100%;
    height:100%;
    cursor:pointer;
  }
  .modal-slider img:hover{
    
  }
  .modal-content{
    height:100%;
    width:100%;
    display:flex;
    padding:0 2rem;
    justify-content:center;
    gap:2rem;
    color:#000;
    z-index: 1000;
    position: absolute;
    transform: translateX(50%);
    transition: 1s linear;
  }
  .modal-content .modal-title h4{
    font-size:2.4rem;
    margin:0;
  }
   .modal-content .modal-subtitle p{
    opacity:.5;
    margin:0;
  }
   .modal-content .prices {
    display:flex;
    gap:1rem;
  }
   .modal-content .prices .old-price {
    text-decoration:line-through;
  }
   .modal-content .prices .old-price span {
    color:red;
    font-weight:600;
  }
  .modal-content .prices span{
    font-family: 'Poppins', sans-serif;
  }
  .modal-content .prices .new-price span{
    font-weight:600;
    font-size:1.8rem;
    
  }
   .modal-content .prices .new-price:hover{
    transform: scale(1.2);
    transition:.3s ease-in-out;
  }
   .modal-content .prices .offert-price span{
    background-color:rgba(0, 247, 41, 0.7);
    font-weight:600;
    font-size:1.8rem;
    padding:0 .5rem;
    border-radius:30px;
  }
  .modal-close-button{
    width:2rem;
    height:2rem;
    display: flex;
    left:47%;
    top:.6rem;
    position: absolute; 
    }
    .modal-close-button .active{
      transform: translateX(2150%);
    }
  .modal-close-button button{
    width:100%;
    height:100%;
    border-radius:30px;
    background-color: #000;
    color:#fff;
    border:none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    
  }
  .modal-close-button button:hover{
    background-color: #fff;
    color:#000;
    border:2px solid black;
  }
    
  .divider{
    width:100%;
    height:1px;
    background-color:grey;
    opacity:.5;
  }
   .modal-content .modal-description-text p{
    font-size:1.2rem;
  }
  .checkout{
    text-align:center;
  }
  .checkout button{
    font-size:1rem;
    padding:1rem 1.5rem;
    border:none;
    border-radius:30px;
    cursor:pointer;
    width:50%;
    font-weight:600;
    text-transform:uppercase;
    background-color:rgba(0, 247, 41, 0.7);

  }
  .checkout button:hover{
    
   background-color:#e74b4b;
   transform: scale(1.3);
   transition:.3s ease-in-out;
  }
  