.slider {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content:center;
    text-align: center;
    width: 100%;
    gap:8rem;
  }
  .slider .slider-img {
    position: absolute;
    z-index: -1;
  }
  .slider .slider-img img {
    width: 100%;
  }
  .slider-title h1 {
    font-family: Anime;
    color:#b11818;
  }
  .slider-text p {
    font-family: Anime;
    color:#b11818;
  }
  .slider-button{
    width:15%;
  }
  .slider-button button {
    background-color: rgb(0, 225, 255);
    border-radius: 30px;
    border: none;
    font-weight: bold;
    padding: 1em 1em;
    height:95%;
    width:100%;
    cursor: pointer;
    
  }
  .slider-button button:hover {
    background-color: #000000;
    color:#fff;
    /*font-size:1.2em;*/
    transition:.5s ease-out;
    
  }