.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #11a697;
    
  }
  .team .team-title{
    font-size: 1.8em;
  }
  .team .team-text {
    margin-bottom: 3em;
  }
  .team-content {
    display: flex;
    justify-content: center;
    gap: 2em;
   
  }
  .team-content .team-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:0.5em;
  }
  .team-content .team-item .team-item-image {
    height: 60%;                
    position: relative;
    width: 100%;
}
.team-content .team-item .team-item-image img{
    height:100%;
    width:100%;
    border-radius:5px;
}
  .team-content .team-item .team-social-networks {
    height: 2.5rem;
    width: 2.5rem;
    top:5%;
    left:80%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index:1;
    gap:.2em;
    border-radius: 50px;
    cursor:pointer;
    transition: 1s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    gap:.6rem;
  }
  .team-content .team-item .team-social-networks .social-networks {
    align-items: center;
    transition:2s linear;
  } 

  .team-content .team-item .team-social-networks .social-networks.active {
    position: relative; 
  }
  .team-content .team-item .team-social-networks .social-networks.active span:first-of-type {
    transform: translateY(8px) rotate(45deg);
  } 
  .team-content .team-item .team-social-networks .social-networks.active span:nth-child(2) {
    opacity: 0;
  } 
  .team-content .team-item .team-social-networks .social-networks.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  } 
  .line{
    width: 2rem;
    height: .3rem;
    background-color: #0a1011;
    display: block;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .team-content .team-item .team-social-networks.active{
    height:max-content;
  } 
  .team-content .team-item .team-social-networks .social-networks.inactive{
    display:none;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul li{
    width:70%;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul li svg{
    transition: .3s linear;
    height:100%;
    width:100%;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul li svg:hover{
    transform: scale(1.2);
    opacity: .3;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:.3rem;
  }
  .team-content .team-item .team-social-networks .social-networks-icons{
    display:none;
  }
  .team-content .team-item .team-social-networks .social-networks-icons.active{
    display:block;
  }
 
  .team-content .team-item .team-item-title{
    font-size: 1.8em;
    font-family: 'Poppins', sans-serif;
  }
  .team-content .team-item .team-item-text-subtitle{
    font-size: 0.8em;
  }
  .team-content .team-item .team-social-networks button{
    width:100%;
    height:100%;
  }