.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    
  }
  .team .team-title{
    font-size: 1.8em;
  }
  .team .team-text {
    margin-bottom: 3em;
  }
  .team-content {
    display: flex;
    justify-content: center;
    gap: 2em;
   
  }
  .team-content .team-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:0.5em;
  }
  .team-content .team-item .team-item-image {
    height: 14em;
    width: 12em;
    position: relative;
  }
  .team-content .team-item .team-item-image img{
    width:100%;
    height:100%;
  }
  .team-content .team-item .team-social-networks {
    height: 2em;
    width: 2em;
    top:0.8em;
    right:0.2em;
    background-color: rgb(37, 216, 82);
    position: absolute;
    z-index:1;
    gap:.2em;
    border-radius: 50px;
    cursor:pointer;
    transition: .4s linear;
  }
  .team-content .team-item .team-social-networks.active svg {
    width:32px;
    height:32px;
  }
  .team-content .team-item .team-social-networks.active{
    height:60%;
  } 
 
  .team-content .team-item .team-item-title{
    font-size: 1.8em;
  }
  .team-content .team-item .team-item-text-subtitle{
    font-size: 0.8em;
  }
  .team-content .team-item .team-social-networks button{
    width:100%;
    height:100%;
  }