.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #11a697;
    
  }
  .team .team-title{
    font-size: 1.8em;
  }
  .team .team-text {
    margin-bottom: 3em;
  }
  .team-content {
    display: flex;
    justify-content: center;
    gap: 2em;
   
  }
  .team-content .team-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:0.5em;
  }
  .team-content .team-item .team-item-image {
    height: 60%;                
    position: relative;
    width: 100%;
}
.team-content .team-item .team-item-image img{
    height:100%;
    width:100%;
    border-radius:5px;
}
  .team-content .team-item .team-social-networks {
    height: 2.4em;
    width: 2.4em;
    top:5%;
    left:85%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index:1;
    gap:.2em;
    border-radius: 50px;
    cursor:pointer;
    transition: .3s linear;
    align-items: center;
  }
  .team-content .team-item .team-social-networks.active svg {
    
  }
  .team-content .team-item .team-social-networks.active{
    height:80%;
  } 
  .team-content .team-item .team-social-networks .social-networks.inactive{
    display:none;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul li{
    height:2rem;
    width:2rem;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul li svg{
    transition: .3s linear;
    height:100%;
    width:100%;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul li svg:hover{
    transform: scale(1.2);
    opacity: .3;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:.5rem;
  }
  .team-content .team-item .team-social-networks .social-networks-icons{
    display:none;
  }
  .team-content .team-item .team-social-networks .social-networks-icons.active{
    display:block;
  }
 
  .team-content .team-item .team-item-title{
    font-size: 1.8em;
  }
  .team-content .team-item .team-item-text-subtitle{
    font-size: 0.8em;
  }
  .team-content .team-item .team-social-networks button{
    width:100%;
    height:100%;
  }