.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 0%);
    z-index:1;
    
  }
  .team .team-background-image{
    z-index:-1;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .team .team-title h3{
    font-family: Anime;
    font-size: 6rem;
    font-weight: 300;

  }
  .team .team-text{
    margin-bottom: 3rem;
  }
  .team .team-text p{
    font-size: 2rem;
  }
  .team-content {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding:0 10%;   
  }
  .team-content .team-item {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    height:100%;
    width:25%;
  }
 
  .team-content .team-item .team-item-image {
    height:60%;                
    position: relative;
    width:100%;
}
.team-content .team-item .team-item-image img{
    height:100%;
    width:100%;
    border-radius:5px;
}
  .team-content .team-item .team-social-networks {
    height: 2.5rem;
    width: 2.5rem;
    top:5%;
    left:80%;
    background-color: hsl(0, 0%, 2%);
    position: absolute;
    z-index:1;
    gap:.2em;
    border-radius: 50px;
    cursor:pointer;
    transition: 1s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    gap:.6rem;
    
  }
 

  .team-content .team-item .team-social-networks .social-networks.active {
    position: relative; 
  }
  .team-content .team-item .team-social-networks .social-networks.active span:first-of-type {
    transform: translateY(1px) rotate(45deg);
  } 
  .team-content .team-item .team-social-networks .social-networks.active span:nth-child(2) {
    opacity: 0;
  } 
  .team-content .team-item .team-social-networks .social-networks.active span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  } 
  .line{
    width: 1.4rem;
    height: .2rem;
    background-color: hsl(0, 0%, 100%);
    display: block;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .team-content .team-item .team-social-networks.active{
    height:max-content;
  } 
  .team-content .team-item .team-social-networks .social-networks.inactive{
    display:none;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul li{
    width:70%;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul li svg{
    transition: .3s linear;
    height:100%;
    width:100%;
    fill:#fff;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul li svg:hover{
    transform: scale(1.2);
    opacity: .3;
  }
  .team-content .team-item .team-social-networks .social-networks-icons ul{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:.3rem;
  }
  .team-content .team-item .team-social-networks .social-networks-icons{
    display:none;
  }
  .team-content .team-item .team-social-networks .social-networks-icons.active{
    display:block;
  }
 
  .team-content .team-item .team-item-title{
    font-size: 1.8em;
    font-family: 'Poppins', sans-serif;
  }
 
  .team-content .team-item .team-item-title h5{
    font-size: 1.7rem;
    color:hsl(0, 0%, 96%);
  }
  .team-content .team-item .team-item-text-subtitle p{
    font-size: 1rem;
  }

  .team-content .team-item .team-social-networks button{
    width:100%;
    height:100%;
  }