$color-slider: var(--color-slider);
$color-featured: var(--color-featured);
$color-details: var(--color-details);
$color-team: var(--color-team);
$color-faqs: var(--color-faqs);
$color-contact: var(--color-contact);

:root {
  --color-slider: rgb(135, 179, 236);
  --color-featured: #5b7bc2;
  --color-details: #fff;
  --color-team: #fff;
  --color-faqs: #ff00ff;
  --color-contact: #00ffff;
}

@font-face {
  font-family: Anime;
  src: url(/fonts/ninja-naruto-font/NinjaNaruto-YOn4.ttf);
}

@font-face {
  font-family: Dbz;
  src: url(/fonts/Dragonball/Saiyan-Sans.ttf);
}

@font-face {
  font-family: note;
  src: url(/fonts/death-note/death-note/Death\ Note.ttf);
}

@font-face {
  font-family: titans;
  src: url(/fonts/attack-on-titan/attack-on-titan/GothTitan-0W5md.ttf);
}
@font-face {
  font-family: chinese;
  src: url(/fonts/chinese-takeaway/CHINESETAKEAWAY.ttf);
}
@font-face {
  font-family: manga;
  src: url(/fonts/manga/Manga.otf);
}
@font-face {
  font-family: ace;
  src: url(/fonts/Anime-Ace-20-BB/animeace2_bld.ttf);
}
@font-face {
  font-family: kaisei;
  src: url(/fonts/Kaisei_HarunoUmi/KaiseiHarunoUmi-Bold.ttf);
}
@font-face {
  font-family: london;
  src: url(/fonts/london_boutique/LondonBoutique_PERSONAL_USE_ONLY.otf);
}

