.admin{
    width:80%;
    height: 100vh;
    gap:1rem;
    padding:5% 10%;
    background-color:hsl(249, 100%, 38%);
    color:#fff;
}
.admin form{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.admin .admin-header{
    
    align-items: center;
    display:flex;
    justify-content: space-between;
}
.admin .admin-header .admin-header-title{
    font-family: 'Poppins' , sans-serif;
    font-size:1.6rem;
}
.admin .admin-header .admin-header-hamburger{
    cursor: pointer;
    display:flex;
    flex-direction: column;
    gap:.5rem;
}
.admin .admin-header .admin-header-hamburger .line{
    width:6rem;
    height: .6rem;
    background-color: rgb(255, 255, 255);
}
.admin .admin-bar{
    background-color: hsl(0, 0%, 100%);
    height:3rem;
    padding:.4rem 10%;
    text-align: center;
    width:80%;
    display: flex;
    justify-content: center;
}
.admin .admin-bar .admin-bar-icon{
    width:10%;
}
.admin .admin-bar svg{
    width: 100%;
}

.admin-content {
    display:flex;
    gap:2rem;
}
.admin-content-aside{
    width:40%;
    display:flex;
    flex-direction: column;
    gap:.2rem;
}
.admin-content-aside-item{
    width: 100%;
    display:flex;
    flex-direction: column;
}
.admin-content-aside-item-header{
    background-color: hsl(194, 57%, 58%);
    display: flex;
    justify-content: flex-end;
    padding:.5rem .3rem;

}
.edit-button,
.delete-button{
    cursor: pointer;

    width:2rem;
    height: 2rem;
}
.edit-button svg,
.delete-button svg{
    width:100%;
    height: 100%;
}
.admin-content-aside-item-header .delete-button{
    padding:0 .5rem;
}
.admin-content-aside-item-content{
    background-color: hsl(214, 58%, 52%);
    padding:1rem;
}
.admin-content-login{
    height:2.9rem;
    width:60%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    gap:4rem;
}
.admin-content-login-tabs{
    height: 100%;
    display:flex;
    justify-content: space-between;
}
.admin-content-login .admin-content-login-tabs .tabs{
    display:flex;
    gap:1rem;
    height: 100%;
    color:#000;
}

.admin-content-login .admin-content-login-tabs .tabs ul{
    display: flex;
    height: 100%;
    gap:1rem;
    margin:0;
}
.admin-content-login .admin-content-login-tabs .tabs ul li{
    height: 100%;
}
.admin-content-login .admin-content-login-tabs .tabs ul li a{
    font-size: 1.5rem;
    font-family: 'Poppins' ,sans-serif;
    text-decoration: none;
    color:#000;
}

.admin-content-login .admin-content-login-tabs-item{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer; 
}
.admin-content-login-tabs-item.active{
    background-color: rgb(36, 92, 177);
}
.tab.active{
}


.admin-content-login .admin-content-login-tabs-item span{
    padding:0 .6rem;
    font-size: 1.5rem;
    font-family: 'Poppins' , sans-serif;
    font-weight: 300;
}
.admin-content-login-tab.active{
    display:flex;
    flex-direction: column;
}
.admin-content-login-form-user label,
.admin-content-login-form-password label{
    font-size:1.5rem;
    font-family: 'Poppins' , sans-serif;
}
.admin-content-login .admin-content-login-tabs .buttons{
    display: flex;
    padding:.5rem 1rem;
    justify-content: end;
    gap:1rem;

}
.admin-content-login .admin-content-login-tabs-button{
    cursor: pointer;
    
}
.admin-content-aside-item-content span{
    font-size: 1.2rem;
    font-family: 'Poppins' , sans-serif;
}
.tab-content{
    width:100%;
    display: none;
    gap:2rem;
}
.tab-content.active{
    display:block;
}

.tab-content input{
    width:100%;
    padding:1.5rem 0;
    font-size: 1.6rem;
    font-family: 'Poppins' , sans-serif;
    background-color: hsl(194, 57%, 58%);

}
.admin-content-login-form-user{
    display:flex;
    justify-content: space-between;
    margin-bottom: 2rem
}
.admin-content-login-form-user .admin-form-username,
.admin-content-login-form-user .admin-form-email,
.admin-content-login-form-password .admin-form-password,
.admin-content-login-form-password .admin-form-password-check
{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.admin-content-login-form-password{
    display:flex;
    justify-content: space-between;
}
